<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Auth Page</title>

    <style>
        .content{
			margin:0px auto;
			text-align:center;
			padding:20px;
		}
		body{
			font-family:helvetica;
		}
		input{
			font-size:1.12em;
			padding:2px;
			margin:4px;
			width:240px;
		}
		button{
			color:white;
			background-color:#005A9C;
			border:1px solid #005A9C;
			border-radius:4px;
			padding:5px 10px;
			width:120px;
			font-size:1.01em;
			cursor:pointer;
		}
		a {
			color:blue;
		}
		span{
			color:red;
		}
</style>

</head>

<body>

    <div class="content">
        <div><b>Alarm</b></div>
        <form method="post" action="/auth/">
            {% csrf_token %}
            <br />
            
    
            <ul>
            	{% for alarm in alarms %}
            	<li>{{ alarm.id }} -- {{ alarm.content }}</li>
            	{% endfor %}
            </ul>

          

        </form>

        

    </div>

</body>

</html>